@import "../node_modules/bootstrap/scss/functions";
//Globals
$enable-rounded: false;
//$enable-shadows: true;

//Theme Colours


$primary:    rgb(191, 201, 153);
$secondary:  rgb(13, 13, 75);
$success:    rgb(129, 38, 20);
$info:       rgb(136, 83, 83);
$warning:    rgb(255, 217, 0);
$danger:     rgb(121, 49, 65);
$light:      rgb(255, 255, 255);
$dark:       rgba(153, 111, 155, 0.788);

//$primary: rgb(0, 255, 98);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Custom Colours

$custom-colors: (
    "primary-light": rgb(86, 86, 88),
    "secondary-light": rgb(95, 95, 99),
    "delibackground":    rgb(80, 93, 100),
    "greenbar": rgb(191, 201, 153),
);

$theme-colors: map-merge($theme-colors, $custom-colors );

// Access the color from the map
$hr-color: map-get($custom-colors, "greenbar");

.custom-hr {
  border-color: $hr-color;
}

.price-text {
  color:$success; /* This will set the text color to red */
}

//Spacers
$spacer: 1rem !default;
$spacer: (
    0: 0,
    1: $spacer * 0.1,
    2: $spacer * 0.33,
    3: $spacer,
    4: $spacer * 0.2,
    5: $spacer * 0.3,
    6: $spacer * 0.4,
    7: $spacer * 0.5,
    8: $spacer * 0.6,
    
)!default;

// Import BootStrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.my-bg {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1), // Adjust opacity here
      rgba(0, 0, 0, 0.1)
  ), url(/images/HeaderImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 33rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kurale', serif;
}

h1{

  font-size: 100px;

}

h2{
  font-size: 4rem;
 
}

.navbar-custom-font {
  font-family: 'Kurale', serif; /* Use your chosen font */
}



.pTitleHeader{
    padding-top: ($spacer * .5) !important;
}

.imageCardSize{
  height: 18rem;
}


.darken-image {
    position: relative;
}

.darken-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity to increase or decrease darkness */
}

.same-size-img {
  width: 100%; /* This makes the image responsive and fills the width of its parent container */
  height: 28rem; /* Adjust the height as necessary */
  object-fit: cover; /* This makes the image cover the area, cropping it if necessary without distorting */
}

.cardl {
  height: 100%;
}

.imgCardSize {
  height: 10rem; /* Set a fixed height for images within cards */
  object-fit: cover;
}

.custom-hr {
  height: 1rem; /* Increase the thickness of the line */
  background-color: #C0C999; /* Set the color of the line */
  border-top: none; /* Remove the top border */
}

.custom-list-item {

  padding: 10px; /* Adjust the padding for better spacing */
  margin-bottom: 10px; /* Adjust the margin between items */

}

.text-container {
  margin-left: 1rem; /* Adjust the margin between the image and text */
}

@media (max-width: 48rem) {
  .custom-list-item {
      height: auto; /* Make the height auto for responsiveness on smaller screens */
  }
}


.list-group-item.no-colour{
  background-color: rgb(151, 151, 80);
}

.contact-section {
  //border: 1px solid #ced4da;
  padding: 10px;
  margin-bottom: 20px;
}

.mailing-list-section {
  margin-bottom: 20px;
}

.working-hours-section {
 // border: 1px solid #ced4da;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
}

footer {

  text-align: center;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.footer-text {
  margin-bottom: 20px;
}

.social-logos img {
  max-width: 2rem;
  margin: 0 5px;
}

.contact-section,
.mailing-list-section,
.working-hours-section {
  //border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-section h5,
.mailing-list-section h5,
.working-hours-section h5 {
 // border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.mailing-list-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.mailing-list-section .form-control::placeholder {
  color: white; /* Change the placeholder text color to white */
}

.mailing-list-section .form-control {
  border-color: rgb(80, 93, 100); /* Change the border color to white */
}



/* Remove dots from the list items */
.working-hours-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-list {
  list-style: none;
  padding: 0;

  li {
    border: 2px solid $success;
    margin-bottom: 10px; /* Adjust the spacing as needed */
    padding: 10px; /* Add padding for better visual appearance */
  }
}

.page-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.custom-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid #ffffff; /* Set the initial border color */
  border-radius: 25px; /* Add rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: $success; /* Change the background color on hover */
  color: #ffffff; /* Change the text color on hover */
}